info:
  name: ${project.artifactId}
  version: ${project.version}
  origin: ${scm.url}
  commit: ${buildNumber}
  branch: ${scmBranch}
  built: ${timestamp}

# logging config here as a reminder as to how to override logback from cmd line
# ie -Dlogging.level.org.springframework=DEBUG
logging:
  level:
    uk.gov.ons.ctp: DEBUG
    org.springframework.retry: DEBUG
    org.springframework.integration.handler.advice: DEBUG
    org.springframework.context.annotation.ConfigurationClassPostProcessor: ERROR
  profile: DEV
  useJson: false

liquibase:
  user: postgres
  password: postgres
  default-schema: actionexporter
  url: jdbc:postgresql://localhost:6432/postgres
  changeLog: classpath:/database/changelog-master.yml

security:
  basic:
    enabled: true
    realm: sdc
  user:
    name: admin
    password: secret


management:
  security:
    role: SUPERUSER
    enabled: true
  health:
    mongo:
      enabled: true
    rabbit:
      enabled: false

server:
  port: 8141
  servlet-path: /

endpoints:
  info:
    enabled: true
    sensitive: false
  enabled: true

spring:
  output:
    ansi:
      enabled: never

  application:
    name: ONS ActionExporterSvc

  zipkin:
    baseUrl: http://localhost:9411
    enabled: false
    
  datasource:
    url: jdbc:postgresql://localhost:6432/postgres
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
    continue-on-error: true
    tomcat:
      initial-size: 5
      max-active: 20
      max-idle: 5
      min-idle: 3

  freemarker:
    checkTemplateLocation: false

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    show-sql: false
    properties:
      hibernate:
        ddl-auto: update
        default_schema: actionexporter

data-grid:
  address: localhost:7379
  lock-time-to-live-seconds: 3600

export-schedule:
  cron-expression: "0 0/15 0 ? * * *"

sftp:
  host: localhost
  port: 122
  username: centos
  password: "JLibV2&XD,"
  directory: Documents/sftp/

freemarker:
  delayfornewtemplates: 86400000  # ie 24 hours in milliseconds

redelivery-policy:
  maxRedeliveries: 10
  initialRedeliveryDelay: 1000
  redeliveryDelay: 1000

rabbitmq:
  username: guest
  password: guest
  host: localhost
  port: 6672
  virtualhost: /

messaging:
  backoffInitial: 5000
  backoffMultiplier: 3
  backoffMax: 45000
  consumingThreads: 30
  pubMaxAttempts: 3
  conMaxAttempts: 3
  prefetchCount: 10
  txSize: 1

swagger-settings:
  swagger-ui-active: true
  group-name: actionexporter-api
  title: Action Exporter API
  description: API for ${project.artifactId}
  version: ${project.version}
