info:
  name: ${project.artifactId}
  version: ${project.version}
  origin: ${scm.url}
  commit: ${buildNumber}
  branch: ${scmBranch}
  built: ${timestamp}

# logging config here as a reminder as to how to override logback from cmd line
# ie -Dlogging.level.org.springframework=DEBUG
logging:
  level:
    uk.gov.ons.ctp: DEBUG
    org.springframework.retry: DEBUG
    org.springframework.integration.handler.advice: DEBUG
    org.springframework.context.annotation.ConfigurationClassPostProcessor: ERROR
  profile: DEV

liquibase:
  user: ${cloud.services.postgresql.connection.username}
  password: ${cloud.services.postgresql.connection.password}
  default-schema: actionexporter
  url: ${cloud.services.postgresql.connection.jdbcurl}
  changeLog: classpath:/database/changelog-master.yml


security:
  basic:
    enabled: true
    realm: sdc
  user:
    name: admin
    password: secret


management:
  security:
    role: SUPERUSER
    enabled: true
  health:
    mongo:
      enabled: true
    rabbit:
      enabled: false

server:
  port: 8141
  servlet-path: /

spring:
  output:
    ansi:
      enabled: never

  application:
    name: ONS ActionExporterSvc

  datasource:
    driverClassName: org.postgresql.Driver
    tomcat:
      initial-size: 5
      max-active: 10
      max-idle: 5
      min-idle: 3
    continue-on-error: true
    schema: classpath:/schema-cloud.sql
    user: ${cloud.services.postgresql.connection.username}
    password: ${cloud.services.postgresql.connection.password}
    default-schema: action-exporter
    url: ${cloud.services.postgresql.connection.jdbcurl}

  freemarker:
    checkTemplateLocation: false

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        ddl-auto: update
        default_schema: actionexporter

data-grid:
  address: ${cloud.services.redis.connection.host}:${cloud.services.redis.connection.port}
  list-time-to-live-seconds: 600

export-schedule:
  cron-expression: "0 * * * * ?"

sftp:
  directory: BSD/

freemarker:
  delayfornewtemplates: 86400000  # ie 24 hours in milliseconds

redelivery-policy:
  maxRedeliveries: 10
  initialRedeliveryDelay: 1000
  redeliveryDelay: 1000

# queue service related
rabbitmq:
  username: ${cloud.services.rabbitmq.connection.username}
  password: ${cloud.services.rabbitmq.connection.password}
  host: ${cloud.services.rabbitmq.connection.host}
  port: ${cloud.services.rabbitmq.connection.port}
  virtualhost: ${cloud.services.rabbitmq.connection.virtualhost}

messaging:
  backoffInitial: 5000
  backoffMultiplier: 3
  backoffMax: 45000
  consumingThreads: 1
  pubMaxAttempts: 3
  conMaxAttempts: 3
  prefetchCount: 10
  txSize: 1

swagger-settings:
  swagger-ui-active: true
  group-name: actionexporter-api
  title: Action Exporter API
  description: API for ${project.artifactId}
  version: ${project.version}